<div class="example-container">
    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button routerLink=""><mat-icon>home</mat-icon></button>
        <h1 class="example-app-name">Bank account simulator Admin</h1>
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav mode="side" opened>
            <mat-nav-list>                
                <a mat-list-item routerLink="/admin/customers">Clientes</a>
                <a mat-list-item routerLink="/admin/reports">Reportes</a>
              </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
 